<?xml version="1.0" encoding="UTF-8" ?> 
<Module>
  <ModulePrefs title="Hit Counter by Selva" /> 
  <Content type="html">
     <![CDATA[ 
	<div align='center'>
		<script src="http://counter.heroku.com/javascripts/count.js" type="text/javascript"></script>	
		Hit Count: <span id = "count"></span>
	<div>
     ]]>
  </Content> 
</Module>